body{
	font-size: 20px;
	background: #2b2b2b;
	color: #dedede;
}
a {
  text-decoration: none;
}
a:link {
	color: #ffa552
}
#header {
	width: 100%;
	box-sizing: border-box;
	overflow-x: hidden;
	margin: 0 !important;

}
.links {
	text-align: left;
	padding:0px;
	margin: 0 0 0 0; 
	padding: 0 0 0 0;
}
#bottom {
	position: absolute; 
	position: left;
	bottom: 0px;
	font-size: 14px;
	text-align: left;
	padding:0px;
	margin-left: -8; 
	box-sizing: border-box;
	margin: 0 !important;
	padding: 0 !important;
}
a:visited {
  color: #ffa552
}
a:hover {
  color:#ed7e18;
}
